@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: normal;
}

header{
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    max-height: 100px;
    background-color: #cf2929;
    box-shadow: 0px 5px 10px 0 #aaa;
}

.heading{
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}

.heading h1{
    color: #00000b;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.navbar{
    display: block;
    position: sticky;
    top: 0;
    background: #676161;
    box-shadow: 0px 5px 10px #aaa;
    opacity: 0.8;
}

.menu-items{
    display: flex;
    width: 100%;
    padding: 0 2rem;
}

.menu-items > li{
    display: block;
    position: relative;
    list-style-type: none;
    padding: 1rem 2.5rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.menu-items > li:hover{
    background: #010313;
}

.menu-items a.link{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #fff;
}

.dropdown{
    display: block;
    position: absolute;
    min-width: 12rem;
    left: 0;
    top: 90%;
    background-color: #303f9f;
    /* border-radius: 1rem; */
    box-shadow: 0px 5px 10px 0 #aaa;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in-out;
}

.dropdown ul{
    display: block;
    margin: 1rem;
}

.dropdown ul > li{
    list-style-type: none;
    padding: 1rem 2.5rem 1rem 1rem;
    cursor: pointer;
    transition: background 0.4s ease-in-out;
}

.dropdown ul > li:hover{
    background: #3f51b5;
}

.dropdown ul a.sublink{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.menu-items > li:nth-of-type(2):hover .dropdown1{
    opacity: 1;
    transform: scaleY(1);
}

.menu-items > li:nth-of-type(3):hover .dropdown2{
    opacity: 1;
    transform: scaleY(1);
}

.dropdown ul a.sublink:hover{
    color: orangered;
}